.font64 {
  font-size: 64px;
}

.center {
  display: block;
  margin: auto;
}

.row {
  display: flex;
}

.row img {
 margin-left: 10px;
 margin-right: 10px;
}

.half { 
  width: 50%;
  height: 50%;
}

.third { 
  width: 30%;
  height: 30%;
}

.full-width {
  width: 100%;
}